# compiled output
dist
demo

#test cov
coverage
.nyc_output

# npm
*.tgz
npm-debug.log
package

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
.atomignore
.vscode

# ts
/typings/**
!/typings/custom

# System Files
.DS_Store
Thumbs.db
